* {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(wallpaper/fire.gif);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header2 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(wallpaper/aura-graphic.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header3 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(wallpaper/installs.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header4 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(wallpaper/roster-sp25.JPG);
  background-position: center;
  background-size: cover;
  position: relative;
}

.header5 {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.5), rgba(4, 9, 30, 0.5)),
    url(wallpaper/rush.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav {
  display: flex;
  background: transparent;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  width: 90%;
  color: rgba(218, 202, 166, 0.6);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-box h1 {
  font-size: 62px;
}

.text-box p {
  margin: 10px 0 40px;
  font-size: 40px;
  color: rgba(218, 202, 166, 0.6);
}

.btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid rgb(4, 62, 121);
  background: rgb(4, 62, 121);
  transition: 0.5s;
}

.row {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.row h3 {
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  color: white;
}

.row p {
  color: white;
}

@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

.core {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
}

.core h1 {
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px 0px 10px 0px;
}

.core-col {
  flex-basis: 32%;
  border-radius: 50%;
  /*border-radius: 10% / 50%;*/
  margin-right: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
}

.core-col img {
  width: 100%;
  display: block;
}

.layer {
  background: transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover {
  background: rgba(4, 62, 121, 0.8);
}

.layer h3 {
  width: 100%;
  font-weight: 500;
  color: white;
  font-size: 19px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3 {
  bottom: 40%;
  opacity: 1;
}

@media (max-width: 700px) {
  .layer:hover h3 {
    bottom: 40%;
  }
  .layer h3 {
    font-size: 30px;
  }
}

@media (max-width: 600px) {
  .layer:hover h3 {
    bottom: 43%;
  }
  .layer h3 {
    font-size: 38px;
  }
}

.awards {
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

.awards-col {
  flex-basis: 31%;
  padding: 0 20px;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: left;
}

.awards-col img:hover {
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
}

.awards-col img {
  width: 100%;
  border-radius: 10px;
}

.awards h1 {
  font-size: 36px;
}

.awards-col p {
  padding: 0;
  color: black;
}

.awards-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: left;
  color: black;
}

.about {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.about-col {
  flex-basis: 48%;
  padding: 30px 2px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content vertically in each column */
}

.about-col img {
    max-width: 300px;
    max-height: 400px; 
    width: 100%; 
    height: auto; 
    object-fit: cover; /* Controls how image fits in container */
}

.about-col h1 {
  padding-top: 0;
  font-weight: 600;
}

.about-col p {
  padding: 15px 0 25px;
  color: black; /* Center text horizontally in each column */
}

.location {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.location iframe {
  width: 100%;
}

.faq {
  max-width: 700px;
  margin: auto;
  padding-bottom: 1rem;
  border-bottom: 2px solid rgb(4, 62, 121);
  cursor: pointer;
}

.faq h1 {
  text-align: center;
  margin-top: 50px;
  padding-bottom: 30px;
  font-size: 35px;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question h3 {
  font-size: 1.3rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1rem;
}

.faq.active .answer {
  max-height: 300px;
  animation: fade 1s ease-in-out;
}

.faq.active svg {
  transform: rotate(180deg);
}

svg {
  transition: transform 0.5s ease-in;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.stuff {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 5px;
}

.gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.gallery3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0.5%);

  display: flex;
  align-items: center;
}

.slider1 {
  width: 800px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0.5%);

  display: flex;
  align-items: center;
}

.slider2 {
  width: 800px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0.5%);

  display: flex;
  align-items: center;
}

.slider3 {
  width: 800px;
  height: 500px;
  border-radius: 5px;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0.5%);

  display: flex;
  align-items: center;
}

.slide {
  flex: 0 0 100%;
  transition: transform 1s ease;
}

.slide1 {
  flex: 0 0 100%;
  transition: transform 1s ease;
}

.slide2 {
  flex: 0 0 100%;
  transition: transform 1s ease;
}

.slide3 {
  flex: 0 0 100%;
  transition: transform 1s ease;
}

img {
  width: 100%;
}

.prev,
.next {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 60px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
/* 
.prev1,
.next1 {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 60px;
}

.prev1 {
  left: 0;
}

.next1 {
  right: 0;
}

.prev2,
.next2 {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 60px;
}

.prev2 {
  left: 0;
}

.next2 {
  right: 0;
}

.prev3,
.next3 {
  cursor: pointer;
  color: #fff;
  padding: 10px 20px;
  position: absolute;
  top: 47%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 60px;
}

.prev3 {
  left: 0;
}

.next3 {
  right: 0;
}*/

@media screen and (max-width: 700px) {
  .gallery {
    flex-direction: column;
  }

  .slider {
    width: 400px;
    height: 250px;
  }

/*  .gallery1 {
    flex-direction: column;
  }

  .slider1 {
    width: 400px;
    height: 250px;
  }

  .gallery2 {
    flex-direction: column;
  }

  .slider2 {
    width: 400px;
    height: 250px;
  }

  .gallery3 {
    flex-direction: column;
  }

  .slider3 {
    width: 400px;
    height: 250px;
  }*/
}

.logo {
  max-width: 200px;   /* max size */
  width: 100%;        /* scales down for smaller screens */
  height: auto;
}








